<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.alias">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
            android:icon="@mipmap/ic_launcher"
            android:label="Alias па-беларуску"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" android:allowBackup="false">
        <activity android:name=".activities.MenuActivity"
                  android:screenOrientation="portrait"
                 android:configChanges="screenLayout|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter></activity>
        <activity android:name=".activities.ModeMenuActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".activities.MenuActivity"
                  android:label="@string/mode_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.activities.MenuActivity"/></activity>
        <activity android:name=".activities.RulesActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".activities.MenuActivity"
                  android:label="@string/rules_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.activities.MenuActivity"/></activity>
        <activity android:name=".activities.TeamsActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".activities.ModeMenuActivity"
                  android:label="@string/teams_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.activities.ModeMenuActivity"/></activity>
        <activity android:name=".activities.ConfigurationsActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".activities.TeamsActivity"
                  android:label="@string/config_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.activities.TeamsActivity"/></activity>
        <activity android:name=".activities.DictionariesActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".activities.ConfigurationsActivity"
                  android:label="@string/dictionaries_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.activities.ConfigurationsActivity"/></activity>
        <activity android:name=".activities.StartGameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.ResultActivity" android:screenOrientation="portrait"
                  android:label="@string/result_label"/>
        <activity android:name=".activities.FinishGameActivity" android:screenOrientation="portrait"
                  android:label="@string/finish_game"/>
        <activity android:name=".network.CreateGameActivity" android:screenOrientation="portrait"
                  android:label="Гульня па-сетцы"/>
    </application>
</manifest>