<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.alias">
    <application
            android:icon="@mipmap/ic_launcher"
            android:label="Alias па-беларуску"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" android:allowBackup="false">
        <activity android:name=".ui.MainActivity"
                  android:screenOrientation="portrait"
                 android:configChanges="screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter></activity>
        <activity android:name=".ui.ModeMenuActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.MainActivity"
                  android:label="@string/mode_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.ui.MainActivity"/></activity>
        <activity android:name=".ui.RulesActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.MainActivity"
                  android:label="@string/rules_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.ui.MainActivity"/></activity>
        <activity android:name=".ui.TeamsActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.ModeMenuActivity"
                  android:label="@string/teams_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.ui.ModeMenuActivity"/></activity>
        <activity android:name=".ui.ConfigurationsActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.TeamsActivity"
                  android:label="@string/config_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.ui.TeamsActivity"/></activity>
        <activity android:name=".ui.DictionariesActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ui.ConfigurationsActivity"
                  android:label="@string/dictionaries_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.ui.ConfigurationsActivity"/></activity>
        <activity android:name=".ui.StartGameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.ResultActivity" android:screenOrientation="portrait"
        android:label="@string/result_label"/>
    </application>
</manifest>