<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.alias">
    <application
            android:icon="@mipmap/ic_launcher"
            android:label="Alias па-беларуску"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" android:allowBackup="false">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"
                 android:configChanges="screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter></activity>
        <activity android:name=".ModeMenuActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/mode_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.MainActivity"/></activity>
        <activity android:name=".RulesActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".MainActivity"
                  android:label="@string/rules_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.MainActivity"/></activity>
        <activity android:name=".TeamsActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ModeMenuActivity"
                  android:label="@string/teams_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.ModeMenuActivity"/></activity>
        <activity android:name=".ConfigurationsActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".TeamsActivity"
                  android:label="@string/config_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.TeamsActivity"/></activity>
        <activity android:name=".DictionariesActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".ConfigurationsActivity"
                  android:label="@string/dictionaries_title">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.alias.ConfigurationsActivity"/></activity>
        <activity android:name=".StartGameActivity"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".DictionariesActivity"/>
    </application>
</manifest>